/*Base commune à tous les sites*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Les classes light_nomDeContenu affichent le texte en mode jour via le javascript, inversement pour les classes dark_nomDuContenu*/
/*Mise en page du header*/
header {
    height: 100px;
    text-align: center;
}
.light_hr {
    background-color: beige;
    color: black;
}
.dark_hr {
    background-color: midnightblue;
    color: white;
}


/*Mise en page du bouton pour le changement mode nuit/mode jour*/
#button {
    width: 150px;
    height: 50px;
}
.light_bn {
    background-color: beige;
    color: black;
}
.dark_bn {
    background-color: midnightblue;
    color: white;
}


/*Mise en page du main*/
.flex_container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
}
.unactive{          /*Cache les éléments "unactive" donc qui ne sont pas dans la tab actuellement active*/
    display: none;
}

/*Menu*/
#menu_bg{
    text-align: center;
}
.light_menu_bg {
    background-color: beige;
    color: black;
}
.dark_menu_bg {
    background-color: midnightblue;
    color: white;
}
.menu_active{       /*actif quand la tab menu est sélectionnée*/
    display: flex;
    flex-direction: column;
    height: 1000px;
}

/*Cartes*/
#cartes_bg{
    text-align: center;
}
.light_cartes_bg {
    background-color: beige;
    color: black;
}
.dark_cartes_bg {
    background-color: midnightblue;
    color: white;
}
.cartes_active{     /*actif quand la tab cartes est sélectionnée*/
    display: flex;
    flex-direction: column;
    height: 800px;
}

/*Cours*/
#cours_bg{
    text-align: center;
}
.light_cours_bg {
    background-color: beige;
    color: black;
}
.dark_cours_bg {
    background-color: midnightblue;
    color: white;
}
.cours_active{      /*actif quand la tab cours est sélectionnée*/
    display: flex;
    flex-direction: column;
}


/*Mise en page des textes*/
#text {
    font-size: 40px;
}
.text1 {
    font-size: 20px;
    padding: 170px;
}
.text2, #text_chara1, #text_chara2, #text_chara3 {
    padding-bottom: 15px;
}
.text3 {
    padding: 20px;
    font-style: italic;
}


/*Mise en page des tabs*/
li {
    list-style-type: none;
}
.tab_active {           /*actif quand la tab est en contact avec la souris*/
    text-decoration: underline;
    font-size: 24px;
}
.tab {                  /*actif quand la tab n'est plus en contact avec la souris*/
    text-decoration: none;
    font-size: 24px;
}


/*Mise en page du footer*/
footer {
    padding: 20px;
    text-align: center;
}
.light_fr {
    background-color: beige;
    color: black;
}
.dark_fr {
    background-color: midnightblue;
    color: white;
}


/*Swiper*/
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}